.products-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .button-container{
        display: flex;
        justify-content: center;
    }
    
    .containers-for-all-products{
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        justify-content: center;
        grid-gap:5vw;
        width: 100vw;  
    }

    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        border: 1px solid black;
        margin-top: 20px;

        .product-image{
            width: 200px;
        }

        .product-description-container{
            border: 1px solid black;
        }
    }
}
